<!DOCTYPE html>
<html>
<head>
	<title>Weather Tunes</title>
	<link rel="stylesheet" href="index.css">
</head>
<body>
	<header>
		<nav>
			<div class="nav-container">
				<a href = "/">Home</a> |
		    <a href = "/rainy">Rainy</a> |
		    <a href = "/snowy">Snowy</a> |
		    <a href = "/sunny">Sunny</a> |
		    <a href = "/clowdy">Cloudy</a>
		</div>
		</nav>

		<h1>{{siteTitle}}</h1>

	</header>

	{{{body}}}

<footer>
	<nav>
		<div class="nav-container">
			<a href = "http://www.twitter.com">Twitter</a> |
			<a href = "http://www.linkedin.com/in/katashakalo">LinkedIn</a> |
			<a href = "http://www.thetechfulblog.com">Homepage</a>
			</div>
		</nav>
	</footer>
</body>
</html>
